<header class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="logo">
                    <a href="#">
                        <img src="../assets/images/face-foundry-logo.jpg" alt="the face foundry">
                    </a>
                </div>
            </div>
            <div class="col-6">
                <div class="nav-toggle">
                    <i class="fas fa-bars fa-2x"></i>
                </div>
            </div>
        </div>
    </div>
</header>