<section class="date-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <app-navigation></app-navigation>
            </div>
            <div class="col-md-9 main">
                <div class="row">
                    <div class="col-12">
                        <div class="section-header">
                            <h2>Choose the Date</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h3>Available:</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ngb-datepicker #dp [(ngModel)]="model" minDate="firstDate" maxDate="lastDate" (navigate)="model = $event.next"></ngb-datepicker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="next-button">
                            <button class="btn btn-primary btn-lg" (click)="onSubmit()" [disabled]="model == null">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>