<section class="location-section">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <app-navigation></app-navigation>
            </div>
            <div class="col-9 main">
                <div class="row">
                    <div class="col-12">
                        <div class="section-header">
                            <h2>Pick a Location</h2>
                        </div>
                    </div>
                </div>
                <div class="row locations-container">
                    <div class="col-sm-6" *ngFor="let item of locationItems">
                        <app-location-item
                            [locationItem]="item"
                            (click)="onSelect(item)"
                            [active]="isActive(item)">
                        </app-location-item>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="next-button">
                            <button class="btn btn-primary btn-lg" (click)="onSubmit()" [disabled]="currentLocationItem == null">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>