<section class="review-section">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <app-navigation></app-navigation>
            </div>
            <div class="col-9 main">
                <div class="row">
                    <div class="col-12">
                        <div class="section-header">
                            <h2>Review</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="review-container">
                            <div class="review-item">
                                <div class="review-content">
                                    <span>Location: </span>
                                    <span>{{reviewLocation}}</span>
                                </div>
                            </div>
                            <div class="review-item">
                                <div class="review-content">
                                    <span>Service: </span>
                                    <span>{{reviewService}}</span>
                                </div>
                            </div>
                            <div class="review-item">
                                <div class="review-content">
                                    <span>Number of people: </span>
                                    <span>{{reviewPeople}}</span>
                                </div>
                            </div>
                            <div class="review-item">
                                <div class="review-content">
                                    <span>Esthtician: </span>
                                    <span>{{reviewstaff}}</span>
                                </div>
                            </div>
                            <div class="review-item">
                                <div class="review-content">
                                    <span>Date: </span>
                                    <span>{{reviewDate}}</span>
                                </div>
                            </div>
                            <div class="review-item">
                                <div class="review-content">
                                    <span>Time: </span>
                                    <span>{{reviewTime}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="next-button">
                            <a href="#">
                                <button class="btn btn-primary btn-lg" (click)="onSubmit()">Confirm</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>