<section class="review-section">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <app-navigation></app-navigation>
            </div>
            <div class="col-9 main">
                <div class="row">
                    <div class="col-12">
                        <div class="section-header">
                            <h2>Review</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="review-container">
                            <div class="review-item">
                                <div class="review-content">
                                    <strong>Location: </strong>
                                    <span>{{reviewLocation}}</span>
                                </div>
                            </div>
                            <div class="review-item">
                                <div class="review-content">
                                    <strong>Service: </strong>
                                    <span>{{reviewService}}</span>
                                </div>
                            </div>
                            <div class="review-item">
                                <div class="review-content">
                                    <strong>Number of people: </strong>
                                    <span>{{reviewPeople}}</span>
                                </div>
                            </div>
                            <div class="review-item">
                                <div class="review-content">
                                    <strong>Esthetician: </strong>
                                    <span>{{reviewStaff}}</span>
                                </div>
                            </div>
                            <div class="review-item">
                                <div class="review-content">
                                    <strong>Date: </strong>
                                    <span>{{displayDate}}</span>
                                </div>
                            </div>
                            <div class="review-item">
                                <div class="review-content">
                                    <strong>Time: </strong>
                                    <span>{{reviewTime}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="disclaimer">
                            <h3>Cancellation policy:</h3>
                            <p>We hold on to your appointment time just for you and ask that if you need to cancel or reschedule, 
                                you please provide us with 24 hours notice. Giving us that 24 hour buffer is much appreciated as 
                                it allows our estheticians to adjust their schedules and hopefully accommodate clients on our waitlist! 
                                We do charge 50% of the service to cover the time and opportunity cost for our estheticians if you cancel 
                                late or do not show up. If this happens three or more times, you will be required to pay in full at the time 
                                of booking your future appointments. Thank you for understanding!
                            </p>
                            <h4>Showing Up Late To Your Appointment</h4>
                            <p>Please let us know as soon as possible if you are running late to your appointment. We will provide the service 
                                for the remainder of your allotted service time. You will be responsible for paying the full amount for the service 
                                that was originally scheduled.
                            </p>
                            <p>If you are running more than 15 minutes late, we cannot guarantee that you will get the most out of your service! we 
                                ask that you arrive to your appointments 10 minutes prior to your scheduled start time to ensure our clients get the 
                                full-undivided attention of their esthetician for their appointment.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="next-button">
                            <button class="btn btn-primary btn-lg" (click)="onSubmit()" routerLink="/payment" [disabled]="incomplete">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>