.review-section {
    text-align: center;
}
.review-container {
    width: 500px;
    text-align: left !important;
    margin: auto;
}
.review-item{
    width: 100%;
    padding: 20px;
}
.disclaimer {
    margin-top: 30px;
    text-align: left;
}
.disclaimer h3 {
    font-size: 22px;
}
.disclaimer h4 {
    font-size: 18px;
}
.disclaimer p {
    font-size: 12px;
}
.next-button {
    margin-top: 0;
}