<section class="welcome-section">
    <div class="container">
        <div class="row">
            <div class="col-12 main">
                <div class="section-header">
                    <h2>Welcome</h2>
                    <p>Ready to book your appointment?</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="next-button">
                    <button class="btn btn-primary btn-lg" (click)="onSubmit()" routerLink="/start">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</section>