.location-item {
    border: 1px solid #000;
    cursor: pointer;
    max-width: 300px;
    max-height: 400px;
    transition: .3s;
    margin: auto;
}

.location-info {
    padding: 10px;
}

.location-item img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover; 
    object-position: bottom;
}

.location-item:hover {
    transform: scale(1.1);
    transition: .3s;
}

.location-item.active {
    background-color: #000 !important;
    transition-duration: .3s;
}
.location-item.active h3,
.location-item.active span {
    color: #fff !important;
    transition-duration: .3s;
}