<section class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <app-navigation></app-navigation>
            </div>
            <div class="col-9 main">
                <div class="row">
                    <div class="col-12">
                        <div class="section-header">
                            <h2>Choose your Services</h2>
                        </div>
                    </div>
                </div>
                <div class="row service-container">
                    <div class="col-9">
                        <div class="service-item">
                            <div class="row">
                                <div class="col-4">
                                    <img src="../assets/images/location-filler.jpg" alt="Service">
                                </div>
                                <div class="col-7">
                                    <div class="service-info">
                                        <h3>Service Name</h3>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="price">
                                        <span>$999</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="service-item">
                            <div class="row">
                                <div class="col-4">
                                    <img src="../assets/images/location-filler.jpg" alt="Service">
                                </div>
                                <div class="col-7">
                                    <div class="service-info">
                                        <h3>Service Name</h3>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="price">
                                        <span>$999</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="service-item">
                            <div class="row">
                                <div class="col-4">
                                    <img src="../assets/images/location-filler.jpg" alt="Service">
                                </div>
                                <div class="col-7">
                                    <div class="service-info">
                                        <h3>Service Name</h3>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="price">
                                        <span>$999</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 memberships">
                        <div class="membership-info">
                            <button class="btn btn-primary btn-md">Memberships</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="next-button">
                            <a href="#">
                                <button class="btn btn-primary btn-lg">Next</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
