<section class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 app-nav">
                <app-navigation></app-navigation>
            </div>
            <div class="col-md-6 main">
                <div class="row">
                    <div class="col-12">
                        <div class="section-header">
                            <h2>Choose your Services</h2>
                        </div>
                    </div>
                </div>
                <div class="row service-container">
                    <div class="col-12" *ngFor="let item of serviceItems">
                        <app-service-item
                            [serviceItem]="item"
                            (click)="onSelect(item)"
                            [active]="isActive(item)"></app-service-item>
                    </div>
                </div>
            </div>
            <div class="col-md-3 main">
                <div class="service-add-on-container">
                    <div class="wrap">
                        <div class="section-header">
                            <h3>Service Add Ons</h3>
                        </div>
                        <div class="content">
                            <ng-container *ngFor="let service of currentServiceItems">
                                <div class="custom-control custom-checkbox add-on" *ngFor="let item of service.addOns">
                                    <input type="checkbox" class="custom-control-input" id="{{item.addOn}}" [checked]="item.checked" (change)="selectAddOn(item)">
                                    <label class="custom-control-label" for="{{item.addOn}}">{{item.addOn}}</label>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <div class="next-button">
                    <button class="btn btn-primary btn-lg" (click)="onSubmit()" [disabled]="currentServiceItems == []">Next</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9 memberships">
                <div class="membership-info">
                    <a href="https://thefacefoundry.com/membership" target="_blank">
                        <button class="btn btn-primary btn-md">Memberships</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

