.services-section {
    text-align: center;
}
.membership-info {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.membership-info .btn {
    width: 200px;
    margin: auto;
    margin-bottom: 100px;
}
.next-button {
    margin-top: 0;
}
