<section class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <app-navigation></app-navigation>
            </div>
            <div class="col-9 main">
                <div class="row">
                    <div class="col-12">
                        <div class="section-header">
                            <h2>Choose your Services</h2>
                        </div>
                    </div>
                </div>
                <div class="row service-container">
                    <div class="col-12" *ngFor="let item of serviceItems">
                        <app-service-item
                            [serviceItem]="item"
                            (click)="onSelect(item)"
                            [active]="isActive(item)"></app-service-item>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="next-button">
                            <button class="btn btn-primary btn-lg" (click)="onSubmit()" 
                            routerLink="/staff" [disabled]="currentServiceItem == null">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9 memberships">
                <div class="membership-info">
                    <button class="btn btn-primary btn-md">Memberships</button>
                </div>
            </div>
        </div>
    </div>
</section>
