<section class="payment-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <app-navigation></app-navigation>
            </div>
            <div class="col-md-9 main">
                <div class="row">
                    <div class="col-12">
                        <div class="section-header">
                            <h2>Payment</h2>
                            <p>We need a credit card in order to hold your appointment</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <form (ngSubmit)="onSubmit(paymentForm.value)" #paymentForm="ngForm" class="payment-form">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="payment-name">Cardholder Name:</label>
                                        <input type="text" name="payment-name" id="payment-name" class="form-control" required ngModel #paymentName="ngModel">
                                        <span class="help-block" *ngIf="!paymentName.valid && paymentName.touched">Please enter the cardholder name</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="credit-card">Credit Card Number:</label>
                                        <input type="tel" name="credit-card" ccNumber id="credit-card" class="form-control" required ngModel #creditCard="ngModel">
                                        <span class="help-block" *ngIf="!creditCard.valid && creditCard.touched">Please enter your credit card number</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="expiration">Expiration Date:</label>
                                        <div class="row">
                                            <div class="col-8">
                                                <select class="form-control" name="paymentExpirationMonth" required ngModel #paymentExpirationMonth="ngModel">
                                                    <option value="01">January</option>
                                                    <option value="02">February </option>
                                                    <option value="03">March</option>
                                                    <option value="04">April</option>
                                                    <option value="05">May</option>
                                                    <option value="06">June</option>
                                                    <option value="07">July</option>
                                                    <option value="08">August</option>
                                                    <option value="09">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                            </div>
                                            <div class="col-4">
                                                <select class="form-control" name="paymentExpirationYear" required ngModel #paymentExpirationYear="ngModel">
                                                    <option value="16"> 2019</option>
                                                    <option value="17"> 2020</option>
                                                    <option value="18"> 2021</option>
                                                    <option value="19"> 2022</option>
                                                    <option value="20"> 2023</option>
                                                    <option value="21"> 2024</option>
                                                    <option value="18"> 2025</option>
                                                    <option value="19"> 2026</option>
                                                    <option value="20"> 2027</option>
                                                    <option value="21"> 2028</option>
                                                    <option value="21"> 2029</option>
                                                </select>
                                            </div>
                                        </div>
                                        <span class="help-block" *ngIf="(!paymentExpirationMonth.valid && paymentExpirationMonth.touched) 
                                        && (!paymentExpirationYear.valid && paymentExpirationYear.touched)">Please enter your credit card's expiration date</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="security-code">CVC:</label>
                                        <input id="paymentSecurity" type="tel" name="security-code" autocomplete="off" ccCVC class="form-control" required ngModel #paymentSecurity="ngModel">
                                        <span class="help-block" *ngIf="!paymentSecurity.valid && paymentSecurity.touched">Please enter your credit card security code</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-button">
                                        <button type="submit" class="btn btn-primary btn-lg" [disabled]="!paymentForm.valid" routerLink="/thank-you">Pay</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>