<div class="service-item">
    <div class="row">
        <div class="col-4">
            <img src="{{serviceItem.imgURL}}" alt="Service">
        </div>
        <div class="col-7">
            <div class="service-info">
                <h3>{{serviceItem.name}}</h3>
                <span>{{serviceItem.description}}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="price">
                <span>${{serviceItem.price}}</span>
            </div>
        </div>
    </div>
</div>