.log-in-sign-up-section {
    text-align: center;
}

.mobile {
    display: none;
}
.signup-block {
    cursor: pointer;
}
.login-block {
    cursor: pointer;
}
.desktop {
    display: block;
}
.signup-block,
.login-block {
    margin-top: 20px;
}

@media(max-width: 767px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
    .mobile.desktop {
        display: block;
    }
    .login {
        margin-bottom: 30px;
    }
}