<div class="navigation-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="nav">
                    <a [ngClass]="{'active' : currentActive == 0}">Login/Create Account</a>
                    <a [ngClass]="{'active' : currentActive == 1}">Location</a>
                    <a [ngClass]="{'active' : currentActive == 2}">Service</a>
                    <a [ngClass]="{'active' : currentActive == 3}">Esthetician</a>
                    <a [ngClass]="{'active' : currentActive == 4}">Date</a>
                    <a [ngClass]="{'active' : currentActive == 5}">Time</a>
                    <a [ngClass]="{'active' : currentActive == 6}">Review</a>
                    <a [ngClass]="{'active' : currentActive == 7}">Payment</a>
                </div>
            </div>
        </div>
    </div>
</div>
