<div class="navigation-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="nav">
                    <a href="#">Login/Create Account</a>
                    <a href="#">Location</a>
                    <a href="#">Service</a>
                    <a href="#">Esthetician</a>
                    <a href="#">Date</a>
                    <a href="#">Time</a>
                    <a href="#">Review</a>
                    <a href="#">Payment</a>
                </div>
            </div>
        </div>
    </div>
</div>
