<section class="staff-section">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <app-navigation></app-navigation>
            </div>
            <div class="col-9 main">
                <div class="row">
                    <div class="col-12">
                        <div class="section-header">
                            <h2>Who's Coming?</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="people-select">
                            <a (click)="onSelectNumber(1)">Just Me</a>
                            <a (click)="onSelectNumber(2)">2</a>
                            <a (click)="onSelectNumber(3)">3</a>
                            <a (click)="onSelectNumber(4)">4+</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="section-header">
                            <h2>Select your Esthetician</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-5">
                            <div class="staff-select">
                                <a *ngFor="let item of staffNames"
                                    (click)="onSelectStaff(item)">{{item}}</a>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="or">
                                <span>OR</span>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="random">
                                <a (click)="onSelectAvailable()">First Available</a>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="next-button">
                            <a href="#">
                                <button class="btn btn-primary btn-lg" (click)="onSubmit()">Next</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    