<section class="staff-section">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <app-navigation></app-navigation>
            </div>
            <div class="col-9 main">
                <div class="row">
                    <div class="col-12">
                        <div class="section-header">
                            <h2>Who's Coming?</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="people-select">
                            <select name="selectPeople" id="#selectPeople" (change)="onSelectPeople($event)" class="select-people">
                                <option value="">Select</option>
                                <option value="Single">Just Me</option>
                                <option value="Group">Group</option>
                            </select>
                            <div class="people-message" *ngIf="showMessage">
                                <p>For a group appointment, please call us at (612) 269-3685.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="section-header">
                            <h2>Select your Esthetician</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="staff-select">
                            <select name="selectStaff" id="#selectStaff" (change)="onSelectStaff($event)" #selectStaff>
                                <option value="">Select</option>
                                <option *ngFor="let item of staffItems" 
                                        value='{"staffFirstName": "{{item.staffFirstName}}", "staffLastName": "{{item.staffLastName}}", "staffGender": "{{item.staffGender}}", "staffID": "{{item.staffID}}"}'
                                >{{item.staffFirstName}} {{item.staffLastName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="or">
                            <span>OR</span>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="random">
                            <a (click)="onSelectAvailable()"
                            [ngClass]="{'active': currentPeopleItem.firstAvaiable}">First Available</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="next-button">
                            <button class="btn btn-primary btn-lg" (click)="onSubmit()" routerLink="/date" [disabled]="!nextEnabled()">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    