.staff-section {
    text-align: center;
}
.people-select {
    width: 180px;
    margin: auto;
    margin-bottom: 70px;
}
.people-select a {
    display: block;
    border-bottom: 1px #000 solid;
    border-left: 1px #000 solid;
    border-right: 1px #000 solid;
    cursor: pointer;
}
.people-select select {
    margin-bottom: 30px;
}
.people-select a:first-child {
    border-top: 1px #000 solid;
}
.staff-select {
    width: 150px;
    margin: auto;
}
.staff-select a {
    display: block;
    border-bottom: 1px #000 solid;
    border-left: 1px #000 solid;
    border-right: 1px #000 solid;
    cursor: pointer;
}
.staff-select a:first-child {
    border-top: 1px #000 solid;
}
.random {
    width: 150px;
    margin: auto;
}
.random a {
    display: block;
    border: 1px #000 solid;
    cursor: pointer;
    transition-duration: .3s;
}
.random a.active {
    background-color: #000;
    color: #fff;
    transition-duration: .3s;
}
.random a:hover{
    transform: scale(1.1);
    transition-duration: .3s;
}
@media(max-width: 767px) {
    .people-select {
        width: auto;
    }
    .random {
        width: 100px;
    }
}