<section class="staff-section">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <app-navigation></app-navigation>
            </div>
            <div class="col-9 main">
                <div class="row">
                    <div class="col-12">
                        <div class="section-header">
                            <h2>Who's Coming?</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="people-select">
                            <a>Just Me</a>
                            <a>2</a>
                            <a>3</a>
                            <a>4+</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="section-header">
                            <h2>Select your Esthetician</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-5">
                            <div class="staff-select">
                                <a>Name</a>
                                <a>Name</a>
                                <a>Name</a>
                                <a>Name</a>
                                <a>Name</a>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="or">
                                <span>OR</span>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="random">
                                <a>First Available</a>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="next-button">
                            <a href="#">
                                <button class="btn btn-primary btn-lg">Next</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    